<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auhtor List</title>
</head>
<body>
<h1>Author List</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Author First Name</th>
        <th>Author Last Name</th>
    </tr>
    <tr th:each="author:${authors}">
        <td th:text="${author.id}">Id</td>
        <td th:text="${author.firstname}">Id</td>
        <td th:text="${author.lastName}">Id</td>
    </tr>
</table>

</body>
</html>